// FONTS
$principalFont: 'Poppins', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

// COLORS
$blue: #071A31;
$darkBlue: #061323;
$red: #D53541;
$purple: #260B27;
$grey: #B1B1B1;
$lightGrey: #CCCCCC;
$black: #000000;
$white: #FFFFFF;